#inputWrapper {
    margin-top: 10px;
    padding-right: 25px;
    
}
#outputWrapper {
    margin-top: 10px;
    padding-right: 25px;
    
}

#input {
    border: 1px solid black;
    padding: 1rem;
    width: 50%;
    float: left;
}

#output {
    border: 1px solid black;
    padding: 1rem;
    width: 50%;
    float: right;
}